{% load custom_filters %}
{% load custom_tags %}

{% block title %}{{ object.subject }}{% endblock %}


{# 답변 개수 출력 #}
<h5 class="border-bottom my-3 py-2">
    {{ object.comments.count }}개의 답변이 있습니다.
</h5>

{% for comment in processed_comments %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text">
                {% if comment.is_ai_processing %}
                    <div class="d-flex align-items-center">
                        <div class="spinner-border text-primary" style="margin-right: 10px;" role="status">
                            <span class="visually-hidden"></span>
                        </div>
                        <span id="comment-content-{{ comment.id }}">{{ comment.content|md_to_html }}</span>
                    </div>
                {% else %}
                    <span id="comment-content-{{ comment.id }}">{{ comment.content|md_to_html }}</span>
                {% endif %}
            </div>

            <div class="my-3 d-flex justify-content-between">
                <div>
                    <a href="javascript:void(0)" 
                       data-uri="{% url 'pybo:similarity_comment_vote' comment.id %}" 
                       class="recommend btn btn-sm btn-success me-2 {% if comment.is_author %} disabled {% endif %}"
                       {% if comment.is_author %} aria-disabled="true" {% endif %}>
                       추천 <span class="badge bg-light text-success">{{ comment.voter_count }}</span>
                    </a>
                </div>

                <div>
                    {% if comment.is_author %}
                        <div class="d-flex justify-content-end">
                            <a href="{% url_byME 'comment' 'delete' comment_id=comment.id %}" 
                               class="btn btn-sm btn-warning me-2 comment-update">
                               <i class="fas fa-edit"></i> 수정
                            </a>
                            <a href="javascript:void(0)" 
                               class="delete btn btn-sm btn-danger" 
                               data-uri="{% url_byME 'comment' 'delete' comment.id %}">
                               <i class="fas fa-trash-alt"></i> 삭제
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}


{# 답변 작성 폼 #}
<form method="post" enctype="multipart/form-data" class="my-3" action="{% url_byME 'comment' 'create' object.id %}">
    {% csrf_token %}

    {# 답변 내용 입력 폼 #}
    <div class="mb-3">
        <label for="id_content" class="form-label">답변 내용</label>
        {{ form.content|add_class:"form-control" }}
        {% if form.content.errors %}
            <div class="invalid-feedback">
                {{ form.content.errors }}
            </div>
        {% endif %}
    </div>
    
    {# 이미지 업로드 폼 #}
    <div class="mb-3">
        <label for="image1" class="form-label">이미지1</label>
        {{ form.image1|add_class:"form-control" }}
        {% if form.image1.errors %}
            <div class="invalid-feedback">
                {{ form.image1.errors }}
            </div>
        {% endif %}
        <label for="image2" class="form-label">이미지2</label>
        {{ form.image2|add_class:"form-control" }}
        {% if form.image2.errors %}
            <div class="invalid-feedback">
                {{ form.image2.errors }}
            </div>
        {% endif %}
    </div>
    
    <button type="submit" class="btn btn-primary">답변 등록</button>
</form>

{# 자바스크립트 코드 블록 #}
{% block script %}
<script>
    {# 스크립트 블록은 나중에 필요한 자바스크립트 코드를 여기에 추가하는 데 사용될 수 있음 #}
</script>
{% endblock %}
