{% extends 'base.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block content %}

<div class="container my-3">

    {% comment %} 알림 메시지 표시 {% endcomment %}
    {% if messages %}
        {% for message in messages %}
            {% if 'post' in message.tags %}
                <div class="alert alert-danger my-3" role="alert">
                    <ul><li>{{ message.message }}</li></ul>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <h2 class="border-bottom py-2">{{ post.subject }}</h2>

    <div class="card-body">
        <div class="card-text">{{ post.content|md_to_html }}</div>

        <div class="d-flex justify-content-end">
            <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2">{{ post.author.username }} : {{ post.create_date }}</div>
                <hr class="my-2">
                {% if post.modify_date %}
                    <div class="mb-2">modified at : {{ post.modify_date }}</div>
                {% endif %}
            </div>
        </div>

        <div class="my-3 d-flex justify-content-between">
            {# 왼쪽에 추천 버튼 #}
            <div>
                <a href="{% url_byME 'post' 'vote' post.id %}#post-{{ post.id }}" 
                   class="recommend btn btn-sm btn-success me-2 {% if is_author %} disabled {% endif %}"
                   {% if is_author %} aria-disabled="true" {% endif %}>
                    추천 <span class="badge bg-light text-success">{{ post.voter.count }}</span>
                </a>
            </div>
            {# 오른쪽에 수정 및 삭제 버튼 #}
            <div>
                {% if is_author %}
                    <div class="d-flex justify-content-end">
                        <a href="{% url_byME 'post' 'update' post.id %}#post-{{ post.id }}" 
                           class="btn btn-sm btn-warning me-2 post-update">
                           <i class="fas fa-edit"></i> 수정
                        </a>
                        <a href="javascript:void(0)" 
                           class="delete btn btn-sm btn-danger" 
                           data-uri="{% url_byME 'post' 'delete' post.id %}">
                           <i class="fas fa-trash-alt"></i> 삭제
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>

        {% if post.image1 %}
            <div>
                <h5>업로드된 이미지1:</h5>
                <img src="{{ post.image1.url }}" alt="Uploaded Image" style="max-width: 300px;">
            </div>
        {% endif %}
        {% if post.image2 %}
            <div>
                <h5>업로드된 이미지2:</h5>
                <img src="{{ post.image2.url }}" alt="Uploaded Image" style="max-width: 300px;">
            </div>
        {% endif %}

    {% include "pybo/answer_list.html" %}

</div>
{% endblock %}

{% block script %}
<script>
    // 삭제 버튼 클릭 시 확인 대화상자
    var deleteButtons = document.querySelectorAll('.delete');

    deleteButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            if (confirm("정말로 삭제하시겠습니까?")) {
                window.location.href = button.getAttribute('data-uri'); 
            }
        });
    });
</script>
{% endblock %}
