{% extends 'base.html' %}
{% load pybo_filter %}
{% load static %}

{% block content %}
{% include "topbar.html" %}

<div class="container my-3">
    {% if messages %}
        <div class="alert alert-danger my-3" role="alert">
            {% for message in messages %}
                <strong>{{ message.tags }}</strong>
                <ul><li>{{ message.message }}</li></ul>
            {% endfor %}
        </div>
    {% endif %}

    <h2 class="border-bottom py-2">{{ question.subject }}</h2>

    <div class="card-body">
        <div class="card-text">{{ question.content|mark }}</div>

        <div class="d-flex justify-content-end">
            {% if question.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정된 시간</div>
                    <div>{{ question.modify_date }}</div>
                </div>
            {% endif %}
            <div class="badge bg-light text-dark p-2 text-start">
                <div class="mb-2">{{ question.author.username }}</div>
                <div>{{ question.create_date }}</div>
            </div>
        </div>

        {% if question.image1 %}
            <div>
                <h5>업로드된 이미지1:</h5>
                <img src="{{ question.image1.url }}" alt="Uploaded Image" style="max-width: 300px;">
            </div>
        {% endif %}
        {% if question.image2 %}
            <div>
                <h5>업로드된 이미지2:</h5>
                <img src="{{ question.image2.url }}" alt="Uploaded Image" style="max-width: 300px;">
            </div>
        {% endif %}

        <div class="my-3 d-flex justify-content-start">
            <!-- 추천 버튼 -->
            <button id="recommend-btn" data-uri="{% url 'pybo:question_vote' question.id %}" class="recommend btn btn-outline-success me-3">
                <i class="fas fa-thumbs-up"></i> 추천 <span class="badge bg-light text-success" id="voter-count">{{ question.voter.count }}</span>
            </button>


            {% if request.user == question.author %}
                <a href="{% url 'pybo:question_update' question.id %}" class="btn btn-outline-warning me-3">
                    <i class="fas fa-edit"></i> 수정
                </a>
                <a href="javascript:void(0)" class="delete btn btn-outline-danger" data-uri="{% url 'pybo:question_delete' question.id %}">
                    <i class="fas fa-trash-alt"></i> 삭제
                </a>
            {% endif %}
        </div>
    </div>

    {% include "pybo/answer_list.html" %}
</div>
{% endblock %}

{% block script %}
<script>
    // 삭제 버튼 클릭 시 확인 대화상자
    var recommendButtons = document.querySelectorAll('.recommend');

    recommendButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            if (confirm("정말로 추천하시겠습니까?")) {
                window.location.href = button.getAttribute('data-uri'); 
            }
        });
    });
    // 삭제 버튼 클릭 시 확인 대화상자
    var deleteButtons = document.querySelectorAll('.delete');

    deleteButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            if (confirm("정말로 삭제하시겠습니까?")) {
                window.location.href = button.getAttribute('data-uri'); 
            }
        });
    });
</script>

{% endblock %}

