{% load custom_tags %}

{% comment %} 푸터 {% endcomment %}
<!-- 푸터 영역 -->
<footer class="sticky-footer bg-white">  {# 고정된 푸터, 흰 배경 #}
    <div class="container my-auto">  {# 컨테이너로 푸터 내용 감싸기 #}
        <div class="row justify-content-center align-items-center">  {# 중앙 정렬을 위한 플렉스 레이아웃 #}

            {% comment %} 푸터 텍스트 (중앙 배치) {% endcomment %}
            <div class="col-md-12 text-center mt-3">  {# 전체 폭을 사용하는 중앙 정렬된 텍스트 #}
                <div class="copyright text-center my-auto">  {# 저작권 정보 #}
                    <span>Copyright &copy; 0!Code Website 2024</span>  {# 저작권 텍스트 #}
                </div>
            </div>
            
        </div>
    </div>
</footer>
{% comment %} 푸터 끝 {% endcomment %}
